## Exp-1 Exploratory Data Analysis

- Find Categorical and Numerical using Numpy
- Five number summary
- Box Plot 
- Outliers with z-score
- Correlation between independent variables with dependent variable 
- Skewness and its Plot 
- Univariate, Bivariate and Multivariate plot

In [3]:
# Import the libraries 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("Dataset/Iris.csv")
df.head(10)

,Id,Location,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,Torgersen,5.1,3.5,1.4,0.2,Iris-setosa
1,2,Torgersen,4.9,3.0,1.4,0.2,Iris-setosa
2,3,Torgersen,4.7,3.2,1.3,0.2,Iris-setosa
3,4,Torgersen,4.6,3.1,1.5,0.2,Iris-setosa
4,5,Torgersen,5.0,3.6,1.4,0.2,Iris-setosa
5,6,Torgersen,5.4,3.9,1.7,0.4,Iris-setosa
6,7,Torgersen,4.6,3.4,1.4,0.3,Iris-setosa
7,8,Torgersen,5.0,3.4,1.5,0.2,Iris-setosa
8,9,Torgersen,4.4,2.9,1.4,0.2,Iris-setosa
9,10,Torgersen,4.9,3.1,1.5,0.1,Iris-setosa

### Find the Categorical, Numerical using Numpy

In [10]:
# Use info to find Data type information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             100 non-null    int64
 1   Location       100 non-null    object
 2   SepalLengthCm  98 non-null     float64
 3   SepalWidthCm   97 non-null     float64
 4   PetalLengthCm  99 non-null     float64
 5   PetalWidthCm   99 non-null     float64
 6   Species        100 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 5.6+ KB

In [29]:
# Using numpy to get the numerical data.
numerical_data = df.select_dtypes(include=np.number)
numerical_data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [16]:
# Use numpy to get the categorical data
categorical_data = df.select_dtypes(include=np.object_)
categorical_data.head(5)

    Location      Species
0  Torgersen  Iris-setosa
1  Torgersen  Iris-setosa
2  Torgersen  Iris-setosa
3  Torgersen  Iris-setosa
4  Torgersen  Iris-setosa

### Find the five number summary
- Quantile(0.25)
- Quantile(0.50)
- Quantile(0.75)
- Minimum and Maximum

In [30]:
## Drop null values before calculating the datas
df = numerical_data.dropna()
df

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0     1            5.1           3.5            1.4           0.2
1     2            4.9           3.0            1.4           0.2
2     3            4.7           3.2            1.3           0.2
3     4            4.6           3.1            1.5           0.2
4     5            5.0           3.6            1.4           0.2
..  ...            ...           ...            ...           ...
95   96            5.7           3.0            4.2           1.2
96   97            5.7           2.9            4.2           1.3
97   98            6.2           2.9            4.3           1.3
98   99            5.1           2.5            3.0           1.1
99  100            5.7           2.8            4.1           1.3

[93 rows x 5 columns]

In [31]:
# Quantile
Q1 = np.quantile(df, 0.25)
Q2 = np.quantile(df, 0.50)
Q3 = np.quantile(df, 0.75)
print(Q1)
print(Q2)
print(Q3)

1.5
3.7
5.7